cabeçalho {
    altura :  100px ;​
    cor de fundo :  rgb ( 0 , 136 , 255 );  
    altura :  40px ;​
    cor de fundo :  rgb ( 115 , 3 , 160 );  
    borda inferior :  2 px ;
    }
    rodapé {
    position : absoluta;
    flood-color :  0 ;
     altura :  48px ;​
    cor de fundo :  rgb ( 104 ,  3 ,  145 );
    largura :  100 % ;
    
    }